@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Avenir', 'Hiragino Sans', 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 200%;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  font-family: 'Raleway';
  font-weight: bold;
  line-height: 100%;
  justify-content: space-between;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 1;
  transition: all 0.4s ease;
  color: #000a12;
}

.Hidden {
  color: #fff;
  transition: all 0.4s ease;
}

.l-header__Top {
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  position: relative;
  color: inherit;
}

.l-header__Wrap {
  display: flex;
  cursor: pointer;
  margin-right: 40px;
  color: inherit;
}

.l-header__Icons {
  display: flex;
  margin-right: 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: inherit;
}

.l-header__Menu {
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  z-index: 300;
}

.l-header__Menu:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 0;
  background-color: #fff;
  transition: 0.4s;
}

.l-header__Menu:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #fff;
  transition: 0.4s;
}

.GlobalNav {
  position: fixed;
  right: -320px;
  /* これで隠れる */
  top: 0;
  width: 300px;
  /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 78px;
  background-color: #d81b60;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto;
  /* メニューが多くなったらスクロールできるように */
}

.GlobalNav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.GlobalNav__item {
  text-align: center;
  padding: 0 14px;
}

.GlobalNav__item a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: #fff;
}

.GlobalNav__item a:hover {
  background-color: #f48fb1;
}

.BlackBg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000a12;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}

/* 表示された時用のCSS */
.NavOpen .GlobalNav {
  right: 0;
}

.NavOpen .BlackBg {
  opacity: .8;
  visibility: visible;
}

.NavOpen .l-header__Menu:after {
  transform: rotate(45deg);
  transition: 0.6s;
  top: 2%;
}

.NavOpen .l-header__Menu:before {
  transform: rotate(-45deg);
  transition: 0.6s;
  top: 2%;
}

.l-Contents {
}

.l-Inner {
  /*padding-top: 90px;*/
}

.Keyvisual {
  background: url(../image/IMG_6854.JPG) no-repeat center;
  background-size: cover;
  padding: 200px 0 200px;
}

.Keyvisual__Title {
  font-family: 'Raleway';
  font-size: 5rem;
  color: #fff;
  line-height: 100%;
  letter-spacing: 0.6rem;
}

.Keyvisual__Text {
  font-size: 1rem;
}

.SectionNumber {
  position: absolute;
  left: 0;
  font-size: 3rem;
  font-weight: 600;
  padding-left: 100px;
  color: #d81b60;
  z-index: 0;
}

.SectionNumber:before {
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  top: 18px;
  left: 0px;
  background-color: #000a12;
}

.Section {
  padding: 180px 80px 100px 240px;
  background: #fff;
  color: #000a12;
}

.Section__Title {
  font-size: 3rem;
  font-family: 'Raleway';
  letter-spacing: 0.4rem;
}

.Profile__Name {
  margin-top: 80px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Raleway', 'Hiragino Sans';
  letter-spacing: 0.5rem;
}

.Profile__Name--Roma {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

.Section__text {
  color: #999;
  margin-bottom: 60px;
  justify-content: flex-end;
}

.Profile__Right {
  margin-left: 48.33%;
}

.Profile__Image {
  width: 100%;
  box-shadow: 0px 20px 148px -18px rgba(0, 10, 18, 0.4);
}

.Passion {}

.Passion__List {
  display: flex;
  margin-top: 60px;
}

.Passion__Item {
  padding: 24px;
  justify-content: space-between;
  position: relative;
  text-align: center;
}

.Passion__Title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 24px 0 24px;
}

.Passion__Text {
  text-align: left;
}

.Passion__ItemImage img {
  width: 200px;
  height: auto;
}

.Skill__List {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.Skill__Item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Skill__Bar {
  width: 100%;
  height: 1.2rem;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 10, 18, 0.2);
}

.Skill__Bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  width: 10%;
}

.Skill__Bar.Skill__Percent:after {
  background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
  transition: all 1s ease;
}

.Skill__contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px 0;
}

.Skill__Rate {}

.Skill__Image {
  margin: 24px 20px 0 20px;
}

.Skill__Detail {
  display: flex;
}

.Skill__Title {
  font-size: 1.6rem;
  margin-right: 20px;
  font-family: 'Raleway';
  font-weight: bold;
}

.l-footer {
  height: 80px;
  background-color: #000a12;
  text-align: center;
}

.l-footer__text {
  display: block;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  padding: 20px 0 20px;
}

.l-footer__text--Copyright {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding-top: 20px;
  color: #fff;
}
