@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');
.About__Img{
    position: absolute;
    top: 132px;
    left: 50%;
    transform:translateX(-50%);
    -webkit- transform:translateX(-50%);
    margin: auto;
    border: 30px solid #FFF5EF;
    border-radius: 50%;  
}
.About{
    padding: 116px 0 88px;
}
.Profile{
    margin-bottom: 88px;
}
.SkillTitle{
    color: #535353;
    font-family: 'Raleway';
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}
.SkillsubTitle{
    color: #535353;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 10px;
}
.SkillList{
display: flex;
justify-content: center;
margin: 24px auto 0;
}
.SkillList__Item{
background: rgba(255, 255, 255, 0.8);
border-radius: 40px;
padding: 8px 15px;
color: #535353;
font-size: 1.2rem;
margin-left: 12px;
}
.SkillList__Item:first-child{
    margin-left: 0;
}
.Work{
    background-color: #FFFDFC;
    padding-bottom:88px;
}
.Work__Wrap{
    padding-top: 60px;
}

.WorkFilter{
    display: flex;
    justify-content: center;
    margin: 16px auto 0;
    }
    .WorkFilter__Item{
    background: rgba(255, 0, 0, 0.1);
    border-radius: 40px;
    border: rgba(255, 0, 0, 0.1)solid 1px;
    padding: 8px 15px;
    color: #535353;
    font-size: 1.2rem;
    margin-left: 12px;
    }
    .WorkFilter__Item:hover{
        background: rgba(255, 0, 0, 0.1);
        border: #FF0000 solid 1px;
        border-radius: 40px;
        padding: 8px 15px;
        color: #FF0000;
        font-size: 1.2rem;
        margin-left: 12px;
        }
        .WorkFilter__Item:active{
            background:#FF0000;
            border-radius: 40px;
            padding: 8px 15px;
            color: #fff;
            font-size: 1.2rem;
            margin-left: 12px;
            }

@media screen and (min-width: 769px) {
.WorkList{
    overflow-x: auto;
    width: 90%;
    display:flex;
    justify-content: left;
    margin: 36px auto 0;
}
.WorkList::-webkit-scrollbar{
    display: none;
}
.WorkList__Item{
    width: 286px;
    height: 400px;
    margin: 10px 12px;
    transition: 0.2s;
}
.WorkList__Item:hover{
    opacity: 0.5;
    transition: 0.2s;
}
.WorkList__Image{
border-radius: 12px;
}
.WorkInfo{
    padding-top: 16px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}
.WorkTitle{
font-size: 2.4rem;
color: #535353;
}
.WorkText{
    padding-top: 8px;
font-size: 1.2rem;
color: #535353;
}
.Contact{
    padding-bottom:88px;
}
.Contact__Wrap{
    padding-top: 40px;
}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .WorkList{
        overflow-x: auto;
        width: 100%;
        display:flex;
        justify-content: left;
        margin: 36px auto 0;
    }
    .WorkList::-webkit-scrollbar{
        display: none;
    }
    .WorkList__Item{
        width: 286px;
        height: 400px;
        margin: 10px 12px;
        transition: 0.2s;
    }
    .WorkList__Item:hover{
        opacity: 0.5;
        transition: 0.2s;
    }
    .WorkList__Image{
    border-radius: 12px;
    }
    .WorkInfo{
        padding-top: 16px;
        text-align: left;
        word-wrap: break-word;
        word-break: break-all;
    }
    .WorkTitle{
    font-size: 2.4rem;
    color: #535353;
    }
    .WorkText{
        padding-top: 8px;
    font-size: 1.2rem;
    color: #535353;
    }
    .Contact{
        padding-bottom:88px;
    }
    .Contact__Wrap{
        padding-top: 40px;
    }

}